.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.container h2{
    text-align: center;
    text-transform: capitalize;
    margin: 12px auto;
   font-size: 2.3rem;
}

.sidecontainer{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
}


.imageBox > .img{
   width: 600px;
   height: 500px;
   border-radius: 10px;
}

.content h3{
   font-size: 1.6rem;
   font-weight: bolder;
}

.content p{
    font-size: 15px;
    font-weight: 100;
    color: grey;
}

.content button{
    margin-top: 12px;
    padding: 11px 23px 11px 23px;
    background: #fff;
    color: black;
    font-size: 15px;
}